@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Open <a href="/hangfire">hangfire dashboard</a> page</h3>
</div>
